body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    background-color: grey;
}


/* ------- NAVIGATION BAR --------*/

.navbar,
.navbarList,
.navBranding,
.navbarList a {
    display: flex;
    min-height: 60px;
    align-items: center;
}

.navbar {
    background-color: #fff;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d6d7dd;
}

.navbarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 10px;
}

.navbar,
.navbarList a {
    color: #a4a6ae;
}

.navbarList a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 0 10px;
}

.navBranding {
    text-transform: uppercase;
    font-size: 9px;
}

.navBranding img {
    margin-right: 10px;
    height: 60px;
}

.navbarList a:hover {
    color: #997fbc;
}


/* ------- SECTION CARDS --------*/

.cardSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    background-color: #f7f8fb;
    min-height: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    height: 130px;
    flex-basis: 100px;
    /*    align-items: center;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    color: rgba(90, 92, 107, 0.85);
    text-align: center;
    font-size: 10px;
    overflow: hidden;
}

.plate {
    height: 70px;
    width: 100%;
    line-height: 70px;
    font-size: 36px;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
*/
    color: #fff;
    background-color: #997fbc;
}

.card1 .plate {
    background: #997fbc;
}

.card2 .plate {
    background: #92ded2;
}

.card3 .plate {
    background: #fdc28a;
}

.card4 .plate {
    background: #ee8ebc;
}

.card5 .plate {
    background: #babc7f;
}

.card6 .plate {
    background: #7f7fbc;
}


/* ------- FOOTER --------*/

.pageFooter {
    background-color: #fff;
    height: 160px;
    padding: 20px;
    display: flex;
    align-items: center;
}


}
.pageFooter h3 {
    color: #5a5c6b;
    font-size: 10px;
}
.pageFooter p {
    line-height: 13px;
    font-size: 8px;
    color: #737481;
}
.pagFooter h3,
.pageFooter p {
    margin: 0;
}
.aboutCompany {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85px;
    max-width: 300px;
}
.socialMedia a {
    text-decoration: none;
}